.main-container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0d0d0d;
}

.main-table {
  width: 500px;
  height: 500px;
  // border: 1px solid red;
}

.visible-line {
  display: flex;
  flex-direction: row;
}

.line {
  display: flex;
  flex-direction: row;
}

.visible-cell {
  width: 99px;
  height: 99px;

  position: relative;

  border: 0.5px solid white;

  &:nth-child(even) {
    background-color: #991a1a;
  }

  &:nth-child(odd) {
    background-color: #121212;
  }
}

.detectable-cell {
  width: 9px;
  height: 9px;

  border: 0.25px solid #363434;
}

.cell-index {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 9%;
  left: 35%;
}
